@font-face {
    font-family: 'glacial';
    src: url('../fonts/glacial.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'facile';
    src: url('../fonts/facile.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'metropolis';
    src: url('../fonts/metropolis.otf') format('opentype');
    font-display: swap;
}