//FONTS
$font-glacial: 'glacial';
$font-facile: 'facile';

//FONT-SIZE
$s-size: 1.2rem;
$m-size: 1.6rem;
$mp-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
$logo-size: 10rem;

//COLORS
$generic-bg: #e2e2e2;
$nav-bg: #fcfcfc;
$generic-text: #292929;
$bright-accent:#f1f1f1;
$bright-accent-m:#fbfbfb;
$sweet-green:#437c6f;


//SIZES
$nav-height: 5rem;
$view-height: calc(100vh - 5rem)